<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kvteam.deliverytracker.performerapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PerformerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/PerformerApp_AppName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.confirm.ConfirmDataActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.kvteam.deliverytracker.core.session.SessionService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.GET_ACCOUNTS|android.permission.MANAGE_ACCOUNTS|android.permission.AUTHENTICATE_ACCOUNT|android.permission.USE_CREDENTIALS">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>

        <receiver
            android:name=".geoposition.GeopositionSender"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_COARSE_LOCATION|android.permission.ACCESS_FINE_LOCATION" />
    </application>

</manifest>